<div class="section-block">
  <h1 class="section-title">What your friends are up to...</h1>
  <!--reward blocks-->
  <div class="reward-block">
    <h3>$10</h3>
    <h2>Early Bird</h2>
    <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet.
      Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
    <span><i class="fa fa-users"></i> 180 backers</span>
    <a href="" class="btn btn-reward">GET THIS REWARD</a>
  </div>
  <div class="reward-block popular">
    <h3>$20</h3>
    <h2>Value Bird</h2>
    <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet.
      Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
    <span><i class="fa fa-users"></i> 320 backers</span>
    <a href="" class="btn btn-reward">GET THIS REWARD</a>
  </div>
  <div class="reward-block">
    <h3>$30</h3>
    <h2>Super Bird</h2>
    <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet.
      Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
    <span><i class="fa fa-users"></i> 105 backers</span>
    <a href="" class="btn btn-reward">GET THIS REWARD</a>
  </div>
  <div class="reward-block last">
    <h3>$50</h3>
    <h2>Premium Bird</h2>
    <p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet.
      Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
    <span><i class="fa fa-users"></i> 64 backers</span>
    <a href="" class="btn btn-reward">GET THIS REWARD</a>
  </div>
  <!--/reward blocks-->
</div>