<%- include partials/login-header.ejs %>

<div class="login-page login-body">
  <div class="form">
    <form class="login-form" action="/login" method="POST">
      <input type="email" name="username" placeholder="Email"/>
      <input type="password" name="password" placeholder="password"/>
      <button>create</button>
      <p class="message">Don't have an account? <a href="/register">Register</a></p>
    </form>
  </div>
</div>

<%- include partials/login-footer.ejs %>